<div class="row x_title mt-2" style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <div class="col-md-12">
      <h3>User Data <small>Fill this form to continue to access the donation portal.</small></h3>
    </div>


    <div class="col-md-6">
        <form class="row g-3" method="post" action="/updateUserData">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
              </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
      
    </div>


  </div>
