
<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
        <div class="toast-header">
            <img src="{{ url_for('static', filename='images/favicon.ico') }}" class="rounded me-2" alt="Server Image">
            <strong class="me-auto">Server</strong>
            <small>Just a min ago</small>
            <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{notification_msg}}
        </div>
    </div>
</div>
